<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rogers POC</title>
</head>

<body>
    <main>

        <section class="py-5 text-center container">

            <h1>Rogers POC</h1>

            <form [formGroup]="form">
                <div class="row py-lg-5">
                    <div class="col-sm border border-dark">
                        <h2>Available Fruit</h2>

                        <div class="list-group">
                            <ng-container *ngFor="let fruit of fruitList">
                                <label *ngIf="!fruit.selected" class="list-group-item">
                                    <input class="form-check-input" type="checkbox" formControlName="{{ fruit.name }}">
                                    {{ fruit.name }}
                                </label>
                            </ng-container>
                        </div>
                    </div>

                    <div class="col-sm border border-dark">
                        <h2>Selected Fruit</h2>

                        <div class="list-group">
                            <ng-container *ngFor="let fruit of fruitList">
                                <label *ngIf="fruit.selected" class="list-group-item">
                                    <input class="form-check-input" type="checkbox" formControlName="{{ fruit.name }}">
                                    {{ fruit.name }}
                                </label>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </form>
        </section>

    </main>
</body>

</html>